# Renaming and combining workbook

## Introduction

This is the worbook part of the "Renaming and combining" section of the Advanced Pandas tutorial. For the reference section, click [here](https://www.kaggle.com/residentmario/renaming-and-combining-reference).

Renaming is covered in its own section in the ["Essential Basic Functionality"](https://pandas.pydata.org/pandas-docs/stable/basics.html#renaming-mapping-labels) section of the extensive official documentation. Combining is covered by the ["Merge, join, concatenate"](https://pandas.pydata.org/pandas-docs/stable/merging.html) section there.

In [85]:
import pandas as pd

from learntools.advanced_pandas.renaming_and_combining import *

pd.set_option('max_rows', 5)
reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)

# Checking Answers

**Check your answers in each exercise using the  `check_qN` function** (replacing `N` with the number of the exercise). For example here's how you would check an incorrect answer to exercise 1:

In [86]:
check_q1(pd.DataFrame())

False

If you get stuck, **use the `answer_qN` function to see the code with the correct answer.**

For the first set of questions, running the `check_qN` on the correct answer returns `True`.

For the second set of questions, using this function to check a correct answer will present an informative graph!

# Exercises

Look at your data by running the cell below:

In [87]:
reviews.head()

    country         ...                        winery
0     Italy         ...                       Nicosia
1  Portugal         ...           Quinta dos Avidagos
2        US         ...                     Rainstorm
3        US         ...                    St. Julian
4        US         ...                  Sweet Cheeks

[5 rows x 13 columns]

1. > **Exercise 1**: `region_1` and `region_2` are pretty uninformative names for locale columns in the dataset. Rename these columns to `region` and `locale`.

In [88]:
# Your code here
reviews.rename({'region_1':'region','region_2':'locale'},axis='columns',inplace=True)

**Exercise 2**: Set the index name in the dataset to `wines`.

In [89]:
# Your code here
reviews.index.name='wines'
reviews

         country          ...                         winery
wines                     ...
0          Italy          ...                        Nicosia
1       Portugal          ...            Quinta dos Avidagos
...          ...          ...                            ...
129969    France          ...           Domaine Marcel Deiss
129970    France          ...               Domaine Schoffit

[129971 rows x 13 columns]

**Exercise 3**: The [Things on Reddit](https://www.kaggle.com/residentmario/things-on-reddit/data) dataset includes product links from a selection of top-ranked forums ("subreddits") on Reddit.com. Create a `DataFrame` of products mentioned on *either* subreddit. Use the following data:

In [90]:
gaming_products = pd.read_csv("../input/things-on-reddit/top-things/top-things/reddits/g/gaming.csv")
gaming_products['subreddit'] = "r/gaming"
movie_products = pd.read_csv("../input/things-on-reddit/top-things/top-things/reddits/m/movies.csv")
movie_products['subreddit'] = "r/movies"

In [91]:
# Your code here

pd.concat([gaming_products,movie_products])

                                                  name    ...    subreddit
0                 BOOMco Halo Covenant Needler Blaster    ...     r/gaming
1    Raspberry PI 3 Model B 1.2GHz 64-bit quad-core...    ...     r/gaming
..                                                 ...    ...          ...
301                               Apocalypto [Blu-ray]    ...     r/movies
302  Cinelinx: A Card Game for People Who Love Movi...    ...     r/movies

[796 rows x 6 columns]

**Exercise 4**: The [Powerlifting Database](https://www.kaggle.com/open-powerlifting/powerlifting-database) dataset on Kaggle includes one CSV table for powerlifting meets and a separate one for powerlifting competitors. Both tables include references to a `MeetID`, a unique key for each meet (competition) included in the database. Using this, generate a dataset combining the two tables into one. Use the following data:

In [92]:
powerlifting_meets = pd.read_csv("../input/powerlifting-database/meets.csv")
powerlifting_competitors = pd.read_csv("../input/powerlifting-database/openpowerlifting.csv")

In [93]:
# Your code here
pd.merge(powerlifting_meets,powerlifting_competitors,on='MeetID')

        MeetID         MeetPath Federation   ...   TotalKg Place   Wilks
0            0   365strong/1601  365Strong   ...    138.35     1  155.05
1            0   365strong/1601  365Strong   ...    401.42     1  456.38
...        ...              ...        ...   ...       ...   ...     ...
386412    8481  xpc/2017-finals        XPC   ...    320.00     3  181.85
386413    8481  xpc/2017-finals        XPC   ...    362.50     2  205.18

[386414 rows x 24 columns]

# Keep going
[**Continue to the method chaining workbook**](https://www.kaggle.com/kernels/fork/605139).